In [1]:
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
Data = pd.read_csv('https://cocl.us/datascience_survey_data')
Data.head()

,Unnamed: 0,Very interested,Somewhat interested,Not interested
0,Big Data (Spark / Hadoop),1332,729,127
1,Data Analysis / Statistics,1688,444,60
2,Data Journalism,429,1081,610
3,Data Visualization,1340,734,102
4,Deep Learning,1263,770,136

In [3]:
Data_sorted = Data.sort_values(['Very interested'], ascending=False, axis=0)

In [4]:
cols = ['Very interested','Somewhat interested','Not interested']
Data_sorted[cols] = Data_sorted[cols].div(2233).multiply(100).round(2)
Data_sorted.columns = ['Topic','Very interested (%)','Somewhat interested (%)','Not interested (%)']
Data_sorted.head()

,Topic,Very interested (%),Somewhat interested (%),Not interested (%)
1,Data Analysis / Statistics,75.59,19.88,2.69
5,Machine Learning,72.95,21.36,3.31
3,Data Visualization,60.01,32.87,4.57
0,Big Data (Spark / Hadoop),59.65,32.65,5.69
4,Deep Learning,56.56,34.48,6.09

In [5]:
Data_sorted.set_index('Topic', inplace=True, drop=True)

In [8]:
Data_sorted.plot(kind='bar',
                 figsize=(20, 8),
                 fontsize=14
                 width=0.8
                 color=['#5cb85c', '#5bc0de', '#d9534f']
                )
ax = plt.gca()
ax.set_title('Respondents Interest in Data Science Topics', fontsize=16)
ax.set_ylabel('Interest (%)', fontsize=14)
ax.set_xlabel('Topic', fontsize=14)
ax.spines['top'].set_visible(False)
ax.spines['right'].set_visible(False)
ax.spines['left'].set_visible(False)
plt.show()

SyntaxError: invalid syntax (<ipython-input-8-545a5d83a4ae>, line 4)